{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSameLine": false,
	"printWidth": 120,
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"quoteProps": "consistent",
	"proseWrap": "preserve"
}
